  .a{background-image:"download.jpg";} 
  .b{background-color:rgb(93, 233, 75);}
  .c{background-color:rgb(207, 75, 233);}
  .d{background-color:rgb(230, 208, 19);}
  .e{background-color:rgb(31, 219, 157);}

  .grid img {
      border:2px solid black;
      border-radius: 50px;
      display:flex;
      justify-content:space-between;

  }
  .origami{
      border-radius: 20px;
      background-color: white;
      width: 310px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .menu{
    display:flex;
    justify-content:space-between;
      background-color: #0ee8f0;
      padding: 20px;
      font-size: 20px;
      font-family: san-serif;
      font-weight: 400;
      color: #ffffff;
  }

  body{
      margin: 0px;
      background-color: whitesmoke;
  }